

.searchfield{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    height:4rem;
    padding-left:200px;
    padding-right:200px;

    &__title{
        padding-right:1rem;
    }
}

