<section class="searchfield">
  <div class="searchfield__search-container">
    <h3 class="searchfield__search-container__title">Buch suchen</h3>
    <input (input)="updateBookSearchTerm($event)">
  </div>
  <h3><a class="searchfield__new-book" routerLink="new">Neues Buch hinzufügen</a></h3>
</section>
@if(books$ | async; as books){
  @for(book of books | bookFilter:bookSearchTerm; track book.isbn){
    <app-book-card 

     [content]="book" 
     (detailClick)="goToBookDetails($event)"></app-book-card>
  }
    
}

